.display {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 35px;
  border-bottom: 1px solid black;
  padding: 10px;
  font-weight: bold;
}
.calculator {
  width: 400px;
  margin: 80px auto;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

.buttonRow {
  display: flex;
  justify-content: space-between;
}

.buttonRow button {
  flex: 1;
  border: 1px solid black;
  padding: 30px 10px;
  outline: 0px;
  cursor: pointer;
  font-weight: bold;
  font-size: 22px;
  transition: all 0.3s;
}
.buttonRow button:active {
  transform: scale(0.9);
  background-color: black;
  color: white;
}
#calculationType {
  position: absolute;
  left: 5px;
  top: 10px;
  font-size: 40px;
  width: 40px;
  height: 40px;
  border: none;
}
#calculationType:focus {
  outline: none;
}

#firstNumber {
  position: absolute;
  right: 0;
  border: none;
  font-weight: bold;
  font-size: 12px;
  width: 100%;
  text-align: right;
  padding-right: 10px;
}

#firstNumber:focus {
  outline: none;
}

#dragger {
  width: 100px;
  height: 100px;
  background-color: orange;
  cursor: move;
}
